<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mintchoco.mapper.MemberMapper">

<!-- 캐시 설정 -->
    <cache eviction="LRU" flushInterval="1000" size="512" readOnly="true"/>

<!-- 1. 회원가입 -->
    <resultMap id="Member1" type="com.mintchoco.common.MemberDTO">
        <id property="memberNO" column="mem_no"/>
        <result property="memberName" column="mem_name"/>
        <result property="memberNum" column="mem_num"/>
        <result property="memberID" column="mem_id"/>
        <result property="memberPWD" column="mem_pwd"/>
    </resultMap>

    <insert id="register" parameterType="MemberDTO">
        insert into member(
        mem_name,
        mem_num,
        mem_id,
        mem_pwd
        ) values (
        #{ memberName },
        #{ memberNum },
        #{ memberID },
        #{ memberPWD }
        )
    </insert>

<!-- 2. 회원탈퇴 -->
    <delete id="deleteMember" parameterType="String">
        delete
        from member
        where mem_id = #{ memberID }
    </delete>

<!-- 3. 회원 정보 수정 -->
    <update id="updateMember" parameterType="hashmap">
        update
        member
        <set>
            <if test="name != null and name != ''">
                mem_name = #{ name },
            </if>
            <if test="num != null and num != ''">
                mem_num = #{ num },
            </if>
            <if test="PWD != null and PWD != ''">
                mem_pwd = #{ PWD },
            </if>
        </set>
        where mem_id = #{ ID }
    </update>

<!-- 4. 단일 회원 정보 조회 -->
    <select id="selectOneMember" parameterType="String" resultMap="Member1">
        select
        mem_no,
        mem_name,
        mem_num,
        mem_id,
        mem_pwd
        from member
        where mem_id = #{ memberID }
    </select>
    
<!-- 5. 전체 회원 정보 조회 -->
    <select id="selectAllMember" resultMap="Member1">
        select
        mem_no,
        mem_name,
        mem_num,
        mem_id,
        mem_pwd
        from member
    </select>

<!-- 6. 로그인 -->
    <select id="logIn" parameterType="hashmap" resultMap="Member1">
        select
        mem_no,
        mem_name,
        mem_num,
        mem_id,
        mem_pwd
        from member
        where mem_id = #{ ID } and mem_pwd = #{ PWD }
    </select>
</mapper>