<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mintchoco.mapper.TrainMapper">

    <resultMap id="trainResultMap1" type="com.mintchoco.common.TrainDTO">
        <id property="scNo" column="sc_no"/>
        <result property="trainName" column="train_name"/>
        <result property="departure" column="departure"/>
        <result property="arrival" column="arrival"/>
        <result property="depTime" column="dep_time"/>
        <result property="arrivalTime" column="arrival_time"/>
    </resultMap>
    <sql id="columns">
        sc_no,
        train_name,
        departure,
        arrival,
        dep_time,
        arrival_time
    </sql>
    <select id="selectAllTrain" resultMap="trainResultMap1">
        select
        <include refid="columns"/>
        from
        schedule
    </select>

    <select id="searchTrainByTimeOrArea" parameterType="hashmap" resultMap="trainResultMap1">
        select
        sc_no,
        train_name,
        departure,
        arrival,
        dep_time,
        arrival_time
        from
        schedule
        <if test="condition == 'time'">
            where
            train_name like concat('%', #{ value }, '%')
        </if>
        <if test="condition == 'departure'">
            where departure like concat('%', #{ value }, '%')
        </if>
        <if test="condition == 'arrival'">
            where arrival like concat('%', #{ value }, '%')
        </if>
        order by sc_no
    </select>

    <insert id="insertTrain" parameterType="com.mintchoco.common.TrainDTO">
        insert into schedule(
        train_name,
        departure,
        arrival,
        dep_time,
        arrival_time
        ) values (
        #{ trainName },
        #{ departure },
        #{ arrival },
        #{ depTime },
        #{ arrivalTime }
        )
    </insert>

    <update id="modifyTrain" parameterType="com.mintchoco.common.TrainDTO">
<!--        update-->
<!--        train-->
<!--        <set>-->
<!--            <if test="trainName != null and trainName != ''">-->
<!--                train_name = #{ trainName },-->
<!--            </if>-->
<!--            <if test="tourArea != null and tourArea != ''">-->
<!--                tour_area = #{ tourArea },-->
<!--            </if>-->
<!--&lt;!&ndash; LocalTime은 문자열이 아니므로 문자열 비교를 빼야함. 마이바티스 내부적으로 시간타입을 비교할때 문제가 생기는것 같네요 &ndash;&gt;-->
<!--            <if test="startTime != null">-->
<!--                start_time = #{ startTime }-->
<!--            </if>-->
<!--        </set>-->
<!--        where train_no = #{ trainNo }-->
        update
        schedule
        <trim prefix="set" prefixOverrides="," suffixOverrides=",">
            <if test="trainName != null and trainName != ''">
                train_name = #{ trainName },
            </if>
            <if test="departure != null and departure != ''">
                departure = #{ departure },
            </if>
            <if test="arrival != null and arrival != ''">
                arrival = #{ arrival },
            </if>
            <if test="depTime != null">
                dep_time = #{ depTime },
            </if>
            <if test="arrivalTime != null">
                arrival_time = #{ arrivalTime }
            </if>
        </trim>
        where sc_no = #{ scNo }
    </update>

    <delete id="deleteTrain" parameterType="_int">
        delete
        from
        schedule
        where sc_no = #{ scNo }
    </delete>
</mapper>