<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mintchoco.mapper.TrainMapper">

    <resultMap id="trainResultMap1" type="com.mintchoco.common.TrainDTO">
        <id property="trainNo" column="train_no"/>
        <result property="trainName" column="train_name"/>
        <result property="tourArea" column="tour_area"/>
        <result property="startTime" column="start_time"/>
    </resultMap>
    <sql id="columns">
        train_no,
        train_name,
        tour_area,
        start_time
    </sql>
    <select id="selectAllTrain" resultMap="trainResultMap1">
        select
        <include refid="columns"/>
        from
        train
    </select>

    <select id="searchTrainByTimeOrArea" parameterType="com.mintchoco.common.SearchCriteria" resultMap="trainResultMap1">
        select
        train_no,
        train_name,
        tour_area,
        start_time
        from
        train
        <if test="condition == 'time'">
            where
            train_name like concat('%', #{ value }, '%')
        </if>
        <if test="condition == 'area'">
            where tour_area like concat('%', #{ value }, '%')
        </if>
        order by train_no
    </select>

    <insert id="insertTrain" parameterType="com.mintchoco.common.TrainDTO">
        insert into train(
        train_name,
        tour_area,
        start_time
        ) values (
        #{ trainName },
        #{ tourArea },
        #{ startTime }
        )
    </insert>

    <update id="modifyTrain" parameterType="com.mintchoco.common.TrainDTO">
<!--        update-->
<!--        train-->
<!--        <set>-->
<!--            <if test="trainName != null and trainName != ''">-->
<!--                train_name = #{ trainName },-->
<!--            </if>-->
<!--            <if test="tourArea != null and tourArea != ''">-->
<!--                tour_area = #{ tourArea },-->
<!--            </if>-->
<!--&lt;!&ndash; LocalTime은 문자열이 아니므로 문자열 비교를 빼야함. 마이바티스 내부적으로 시간타입을 비교할때 문제가 생기는것 같네요 &ndash;&gt;-->
<!--            <if test="startTime != null">-->
<!--                start_time = #{ startTime }-->
<!--            </if>-->
<!--        </set>-->
<!--        where train_no = #{ trainNo }-->
        update
        train
        <trim prefix="set" prefixOverrides="," suffixOverrides=",">
            <if test="trainName != null and trainName != ''">
                train_name = #{ trainName },
            </if>
            <if test="tourArea != null and tourArea != ''">
                tour_area = #{ tourArea },
            </if>
            <if test="startTime != null">
                start_time = #{ startTime }
            </if>
        </trim>
        where train_no = #{ trainNo }
    </update>
</mapper>